*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    
}

a{
    text-decoration: none;
}

button{
    border: none;
}